{% extends 'base.html' %}

{% block create_news %}
<h1> Criar </h1>
<form method="post">
    <header>
        <a href="/login">[Sair]</a>
    </header>

    <label for="assunto">Assunto</label>
    <br>
    <select id="type" name="type" value = "{{ request.form['type'] }}">
        <option value="Pets">Pets</option>
        <option value="Art">Art</option>
        <option value="Sci">Sci</option>
    </select>
    <br>

    <label for="title">Título</label>
    <br>
    <input type="text" name="title" placeholder="Title" value="{{ request.form['title'] }}"></input>
    <br>

    <label for="image">Endereço da Imagem</label>
    <br>
    <input type="text" name="image" placeholder="Endereço da Imagem" value="{{ request.form['image'] }}""></input>
    <br>

    <label for="content">Conteúdo</label>
    <br>
    <textarea name="content" placeholder="Conteúdo" value="{{ request.form['content'] }}"></textarea>
    <br>

    <button type="submit">Submit</button>
</form>

<a href="/updel-noticias">Atualizar ou deletar noticias?</a>
{% endblock %}
