{% block update_delete_news %}
<h1> Atualizar e Deletar</h1>
{% for i_news in news %}

    <header>
        <a href="/criar-noticias">[Voltar]</a>
    </header>

    <form method="post">
        <input type="hidden" name="id" placeholder="ID" value="{{i_news['id']}}"></input>
        <br>

        <label for="title">Título</label>
        <br>
        <input type="text" name="title" placeholder="Title" value="{{i_news['title']}}"></input>
        <br>

        <label for="assunto">Assunto</label>
        <br>
            <select id="type" name="type" value = "{{ i_news['type'] }}">
            <option value="Pets">Pets</option>
            <option value="Art">Art</option>
            <option value="Sci">Sci</option>
        </select>
        <br>

        <label for="image">Endereço da Imagem</label>
        <br>
        <input type="text" name="image" placeholder="Endereço da Imagem" value="{{ i_news['image'] }}""></input>
        <br>

        <label for="conteudo">Conteúdo</label>
        <br>
        <textarea name="content" placeholder="content">{{i_news['content']}}</textarea>
        <br>

        <button type="submit" name="submit" value="update">Atualizar</button>
        <button type="submit" name="submit" value="delete">Deletar</button>
    </form>
    </br>

{% endfor %}
{% endblock %}
